<template>
    <section v-if="true" class="chars">
        <h2>Список персонажей</h2>
        <div class="chars__list" v-if="charList">
            <router-link v-for="(char, charId) in charList" :to="'/char/'+char.id+'/main'" class="chars__item"
               :key="charId">
                <span class="chars__item-img" :style="{backgroundImage: 'url('+ charImage +')'}"></span>
                <span class="chars__item-cont">
                    <span class="chars__item-name">{{char.name}}</span>
                    <span class="chars__item-lvl">{{char.lvl}} ур.</span>
                    <span class="chars__item-class">{{char.class}}</span>
                </span>
            </router-link>
        </div>

        <div class="chars__list" v-else>Loading...</div>
    </section>
    <reg v-else></reg>
</template>

<script>
    // @ is an alias to /src
    import axios from 'axios'
    import {mapState, mapGetters, mapActions, mapMutations} from 'vuex'
    import login from "../components/auth/login";
    import reg from "../components/auth/reg";

    export default {
        name: 'home',
        components: {
            login,
            reg
        },
        data() {
            return {}
        },
        methods: {},

        mounted() {
            this.$store.dispatch('setChars')
        },

        computed: {
            charList() {
                return this.$store.getters.getChars
            },

            charImage: function () {
                return '/img/icons/anon.svg'
            }
        }
    }
</script>
