.about {
    height: 100%;
    display: flex;
    align-items: center;

    &__wrap {
        .content;
    }

    &__body {
        text-align: center;
    }

    &__links {
        margin-top: 2em;
    }
}
