// Small devices (landscape phones, 576px and up)
@sm: ~"screen and (min-width: 576px)";

// Medium devices (tablets, 768px and up)
@md: ~"screen and (min-width: 768px)";

// Large devices (desktops, 992px and up)
@lg: ~"screen and (min-width: 992px)";

// Extra large devices (large desktops, 1200px and up)
@xl: ~"screen and (min-width: 1200px)";

// colors
@black: #2c3e50;
@lGray: #ced4da;
@white: #ffffff;
@lBlack: #4F6173;
@green: #42b983;
//colors end

.content() {
    margin: 0 16px;
    width: calc(100% - 32px);

    @media @sm {
        margin: 0 32px;
        width: calc(100% - 64px);
    }
    @media @md {
        margin: 0 auto;
        width: 720px;
    }
    @media @lg {
        width: 960px;
    }
    @media @xl {
        width: 1140px;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

.css_anim() {
    transition: all ease .2s;
}

.vue-anim {
    &-enter-active {
        transition: all ease .1s;
        opacity: 0;
    }

    &-leave-active {
        transition: all ease .1s;
        opacity: 0;
    }
}

.hidden {
    display: none !important;
}

html {
    height: 100%;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: @lGray;
    }

    &::-webkit-scrollbar-thumb {
        background-color: @lBlack;

        &:hover {
            background-color: @black;
        }
    }
}

body {
    height: 100%;
    font: 400 16px/1.2 'Exo 2', sans-serif;
    color: @black;
}

.app {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 100%;
}

a {
    .css_anim;

    text-decoration: none;
    color: @green;

    &:hover {
        .css_anim;

        color: @lBlack;
    }
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0.67em 0;
}

h3 {
    text-align: center;
    margin: 0;
    padding: .55em 0;
}

.checkbox {
    cursor: pointer;

    input[type=checkbox] {
        display: none !important;

        & + div {
            width: 18px;
            height: 18px;
            margin-left: 8px;
            border: 1px solid @lGray;
            border-radius: .25rem;
            display: flex;
            align-items: center;
            justify-content: center;

            & > div {
                .css_anim;

                content: '';
                display: block;
                width: 60%;
                height: 30%;
                border-left: 2px solid @black;
                border-bottom: 2px solid @black;
                transform: rotate(-45deg);
                margin-top: -5%;
                opacity: 0;
            }
        }

        &:hover:not(:checked) {
            & + div {
                & > div {
                    .css_anim;

                    opacity: .3;
                }
            }
        }

        &:checked {
            & + div {
                & > div {
                    .css_anim;

                    opacity: 1;
                }
            }
        }
    }
}
