.char {
    &__wrap {
        .content;

        padding-bottom: 58px;
    }

    &__block {
        padding: 8px 0;

        &.fixed {
            position: sticky;
            top: 48px;
            background-color: @white;
            z-index: 100;
            padding-bottom: 0;
            margin-bottom: 8px;
            border-bottom: 1px solid @lGray;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;

        & > * {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }

        &.base {
            justify-content: space-between;

            @media @md {
                align-items: initial;
            }

            > * {
                margin-right: 0;

                @media @md {
                    margin-bottom: 0;
                }

                &:nth-child(n + 4) {
                    margin-bottom: 0;
                }
            }
        }

        &.lines {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 0;

            @media @sm {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }

    &__line {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;
        margin-right: 0;
        flex: 1 1 100%;
        font-size: .9rem;

        @media @sm {
            flex-basis: calc(50% - 4px);

            &:nth-child(odd) {
                margin-right: 8px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        @media @md {
            flex-basis: calc(100% / 3 - 16px / 3);
            margin-right: 8px;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    &__name {
        margin-right: auto;
        font-weight: 600;
    }

    &__background {
        margin-right: 8px;
    }

    &__lvl {
        margin-left: auto;
        margin-right: 0;

        &-value {
            font-weight: 600;
        }
    }

    &__exp {
        display: none;
        margin-left: auto;

        &-value {
            font-weight: 600;
        }
    }

    &__align {
        margin-left: auto;
    }

    &__pb {
        border: 1px solid @lGray;
        padding: 8px;
        border-radius: .25rem;
        margin-bottom: 8px;
        position: relative;
        width: calc(100% / 3 - (16px / 3.1));
        min-height: 86px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media @md {
            width: calc(100% / 6 - 8px);
        }

        > * {
            width: 100%;
        }

        &-value {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 8px;
            border-bottom: 1px solid @lGray;
            padding-bottom: .55rem;
        }
    }

    &__spd, &__init, &__tempHp {
        border: 1px solid @lGray;
        padding: 8px;
        border-radius: .25rem;
        margin-bottom: 8px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% / 3 - (16px / 3));
        min-height: 86px;

        @media @md {
            width: calc(100% / 6 - 8px);
        }

        img {
            position: absolute;
            left: 8px;
            top: 8px;
            width: 16px;
            height: 16px;
            object-fit: contain;
        }

        *:not(img) {
            position: relative;
        }

        &-value {
            font-size: 32px;
            font-weight: 600;
        }
    }

    &__pasPer, &__insp, &__hitDice {
        border: 1px solid @lGray;
        border-radius: .20rem;
        flex-wrap: nowrap;

        &-name {
            border-right: 1px solid @lGray;
            padding: .55rem .85rem;
            text-align: center;
            flex: 1 1 100%;
            margin: 0;
        }

        &-value {
            padding: .55rem .85rem;
            font-weight: 600;
            white-space: nowrap;
            margin: 0;
        }

        &-left {
            padding: .55rem .85rem;
            font-weight: 600;
            border-left: 1px solid @lGray;
        }
    }

    &__stat {
        width: calc(100% / 4 - (8px * 3 / 4));
        height: 100%;
        border: 1px solid @lGray;
        padding: .55rem .85rem;
        border-radius: .25rem;
        text-align: center;
        margin-bottom: 8px;
        flex-shrink: 0;

        @media @md {
            width: calc(100% / 8 - (8px * 7 / 8));
            margin-bottom: 0;
        }

        &:nth-child(n+5) {
            margin-bottom: 0;
        }

        &:nth-child(4) {
            margin-right: 0;

            @media @md {
                margin-right: 8px;
            }
        }

        &-plus {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 8px;
            border-bottom: 1px solid @lGray;
            padding-bottom: .55rem;
        }

        &-name {
            margin-bottom: 4px;
            font-size: 14px;
        }
    }

    &__dead-or-live {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px solid @lGray;
        padding: .55rem .85rem;
        border-radius: .25rem;
        height: 100%;
        //width: calc((100% / 4 - (8px * 3 / 4)) * 2 + 8px);
        flex: 1 1 auto;

        @media @md {
            width: calc((100% / 8 - (8px * 7 / 8)) * 2 + 8px);
        }

        &__row {
            display: flex;
            align-items: center;

            img {
                object-fit: contain;
                height: 28px;
                margin: 0 1px 0 0;
            }
        }

        hr {
            width: 100%;
            border: 0;
            height: 1px;
            background: @lGray;
            margin: .87rem 0;
        }
    }

    &__hp {
        border: 1px solid @lGray;
        padding: 8px;
        border-radius: .25rem;
        margin-bottom: 8px;
        position: relative;
        width: calc(100% / 3 - (16px / 3));
        min-height: 86px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media @md {
            width: calc(100% / 6 - 8px);
        }

        > * {
            width: 100%;
        }

        img {
            position: absolute;
            left: 8px;
            top: 8px;
            width: 16px;
            height: 16px;
            object-fit: contain;
        }

        *:not(img) {
            position: relative;
        }

        &-now {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 8px;
            border-bottom: 1px solid @lGray;
            padding-bottom: .55rem;
        }
    }

    &__armor {
        border: 1px solid @lGray;
        padding: 8px;
        border-radius: .25rem;
        position: relative;
        width: calc(100% / 3 - (16px / 3));
        min-height: 86px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media @md {
            width: calc(100% / 6 - 8px);
        }

        > * {
            width: 100%;
        }

        img {
            position: absolute;
            left: 8px;
            top: 8px;
            width: 16px;
            height: 16px;
            object-fit: contain;
        }

        *:not(img) {
            position: relative;
        }

        &-initial {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 8px;
            border-bottom: 1px solid @lGray;
            padding-bottom: .55rem;
        }

        &-value {
            font-size: 32px;
            font-weight: 600;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__saves {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid @lGray;
        border-radius: .25rem;

        &__title {
            width: 100%;
            border-bottom: 1px solid @lGray;
            padding: .55rem .40rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        &__item {
            border-bottom: 1px solid @lGray;
            padding: .55rem .40rem;
            display: inline-flex;
            width: calc(50% - 4px);
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            font-size: 14px;

            &:nth-child(even) {
                border-right: 1px solid @lGray;
            }

            &:last-child, &:nth-last-child(2) {
                margin-bottom: 0;
                border-bottom: 0;
            }

            &-value {
                margin-left: auto;
                font-weight: 600;
            }
        }
    }

    &__extraSaves {
        padding-top: 16px;

        &__stat {
        border-radius: .25rem;
        margin: 4px;
        border: 1px solid @lGray;
        width: calc(100% - 8px);

        @media @sm {
            width: calc(50% - 8px);
        }

        @media @lg {
            width: calc(100% / 3 - 8px);
        }

        &-initial {
            .css_anim;

            padding: .55rem .85rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: fadeout(@lGray, 85%);

            &.known {
                &:before {
                    content: '';
                    display: block;
                    height: 8px;
                    width: 8px;
                    position: absolute;
                    left: -4px;
                    border-radius: 50%;
                    background-color: @lBlack;
                }
            }
        }

        &-title {
            font-weight: 600;
        }
    }

        &__item {
            .css_anim;

            border-top: 1px solid @lGray;
            display: flex;
            align-items: center;
            width: 100%;
            padding: .55rem .85rem;
            position: relative;

            &:hover {
                .css_anim;

                background-color: rgba(206, 212, 218, .1);
            }

            &.comp {
                background-color: rgba(206, 212, 218, .3);
            }

            &.known {
                &:before {
                    content: '';
                    display: block;
                    height: 8px;
                    width: 8px;
                    position: absolute;
                    left: -4px;
                    border-radius: 50%;
                    background-color: @lBlack;
                }
            }

            &:last-child {
                border-bottom: 0;
            }

            &-value {
                font-weight: 600;
                margin-left: auto;
            }
        }
    }

    &__nav {
        padding: 0.55rem 0.85rem;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: @white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid @lGray;

        &__item {
            color: @lGray;
            text-decoration: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid @lGray;
            padding: 4px 8px;

            &:last-child {
                border-right: 0;
            }

            svg {
                width: 24px;
                height: 24px;

                path {
                    fill: currentColor;
                }
            }

            &.router-link-exact-active {
                color: @black;
                cursor: default;
                font-weight: 600;
            }
        }
    }
}
