.chars {
    .content;

    &__item {
        .css_anim;

        display: flex;
        width: 100%;
        color: @black;
        border: 1px solid @lGray;
        padding: .55rem .85rem;
        border-radius: .25rem;
        text-decoration: none;
        margin-bottom: 8px;
        text-align: left;
        cursor: pointer;

        &:hover {
            .css_anim;

            background-color: #f4f4f4;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
        }


        &-img {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-right: .85rem;
        }

        &-cont {
            width: calc(100% - 50px - .85rem);
            display: flex;
            flex-wrap: wrap;
        }

        &-name {
            width: 100%;
            font-weight: 600;
        }

        &-lvl {
            margin-right: 8px;
        }
    }
}

.login {
    .content;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        text-align: center;
        margin-bottom: 36px;
    }

    &__form {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        text-align: left;
        color: @black;
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 16px;

        &-name {
            margin-bottom: 8px;
        }
    }

    &__input {
        &-text {
            .css_anim;

            width: 100%;
            color: @black;
            border: 1px solid @lGray;
            padding: .55rem .85rem;
            border-radius: .25rem;
            appearance: none;

            &:focus {
                .css_anim;

                outline: 0;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
                border-color: rgba(0, 0, 0, .15);
            }
        }

        &-btn {
            .css_anim;

            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 24px auto 0;
            background-color: @black;
            border: 0;
            color: @white;
            appearance: none;
            cursor: pointer;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            user-select: none;
            padding: .55rem .85rem;
            border-radius: .25rem;

            &:hover {
                .css_anim;

                background-color: @lBlack;
            }
        }
    }
}
