noscript {
    display: none;
}

.header {

    background-color: @white;
    box-shadow: 0 0 15px -5px rgba(44, 62, 80, .3);
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 48px;

    &__wrap {
        .content;

        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & + main {
        padding-top: 48px;
    }

    &__name {
        text-align: center;
        padding: 8px 16px;
        font-weight: 800;
        font-size: 1.125rem;
        position: relative;
        z-index: 2;
    }
}

.h-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;

    img {
        height: 100%;
    }
}

.sandwich {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: @black;
    padding: 8px;
    margin: 8px 0;
    border-radius: .25rem;
    position: relative;
    z-index: 2;
    cursor: pointer;

    @media @md {
        display: none;
    }

    div {
        content: '';
        display: block;
        width: 16px;
        height: 2px;
        background: @white;
        position: absolute;

        &:first-child {
            .css_anim;

            top: 10px;
        }

        &:last-child {
            .css_anim;

            bottom: 10px;
        }
    }

    &.opened {
        div {
            &:first-child {
                .css_anim;

                top: initial;
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                display: none;
            }

            &:last-child {
                .css_anim;

                bottom: initial;
                transform: rotate(-45deg);
            }
        }
    }
}

.menu {
    .css_anim;

    display: flex;
    position: absolute;
    right: -90%;
    top: 0;
    width: 75%;
    background-color: @white;
    height: 100vh;
    padding: 52px 0.85rem 0.55rem;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, .3);

    @media @md {
        right: 0;
        position: relative;
        width: auto;
        height: 100%;
        box-shadow: none;
        padding: 0;
    }

    &.opened {
        right: 0;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        @media @md {
            flex-direction: row;
            align-items: center;
        }
    }

    &__item {
        color: @black;
        margin-bottom: 8px;
        text-decoration: none;
        width: 100%;
        text-align: right;

        @media @md {
            padding: 0 12px;
            margin: 0;
            height: 100%;
            display: flex;
            align-items: center;
            text-align: center;
        }

        &.router-link-exact-active {
            color: @green
        }
    }
}

.footer {
    &__wrap {
        .content;

        display: flex;
        flex-direction: column;
        align-items: center;
        //padding-top: 8px;
        //padding-bottom: 8px;
    }
}

.f-links {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
