<template>
    <div id="app" class="app">
        <header class="header">
            <div class="header__wrap">
                <router-link to="/" class="h-logo">
                    <img src="/img/dnd-black.svg" alt="">
                </router-link>
                <div v-show="charName" class="header__name">{{charName}}</div>
                <div id="sandwich" class="sandwich" @click="menuToggle">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div id="menu" class="menu">
                    <nav class="menu__wrap">
                        <router-link to="/" @click="menuToggle" class="menu__item">Home</router-link>
                        <router-link to="/about" @click="menuToggle" class="menu__item">About</router-link>
                    </nav>
                </div>
            </div>
        </header>
        <main class="main">
            <keep-alive>
                <router-view/>
            </keep-alive>
        </main>
    </div>
</template>

<script>
    export default {
        methods: {
            menuToggle: function () {
                const menu = document.getElementById('menu'),
                    sandwich = document.getElementById('sandwich');

                if (window.innerWidth < 768) {
                    if (menu.classList.contains('opened') && sandwich.classList.contains('opened')) {
                        menu.classList.remove('opened');
                        sandwich.classList.remove('opened');
                    } else {
                        menu.classList.add('opened');
                        sandwich.classList.add('opened');
                    }
                }
            }
        },
        computed: {
            charName() {
                if (this.$store.getters.getChar(this.$route.params.charId)) {
                    return this.$store.getters.getChar(this.$route.params.charId).shortName;
                } else {
                    return false;
                }
            }
        }
    }
</script>
