<template>
    <section class="login">
        <h2>Авторизация</h2>
        <form class="login__form">
            <label class="login__label">
                <span class="login__label-name">Имя пользователя</span>
                <input class="login__input-text" type="text" id="username" placeholder="Имя пользователя">
            </label>
            <label class="login__label">
                <span class="login__label-name">Пароль</span>
                <input id="password" class="login__input-text" type="password" placeholder="Пароль">
            </label>
            <input class="login__input-btn" type="submit" value="Войти">
        </form>
    </section>
</template>

<script>
    export default {
        name: "login"
    }
</script>

<style scoped>

</style>
