<template>
    <section class="login">
        <h2>Регистрация</h2>
        <form class="login__form" @submit.prevent="regUser">
            <input type="hidden" name="_token" :value="csrf">
            <label class="login__label">
                <span class="login__label-name">Имя пользователя</span>
                <input class="login__input-text"
                       type="text"
                       id="username"
                       ref="username"
                       placeholder="Имя пользователя"
                >
            </label>
            <label class="login__label">
                <span class="login__label-name">Ваше имя</span>
                <input id="name"
                       class="login__input-text"
                       type="text"
                       ref="name"
                       placeholder="Имя"
                >
            </label>
            <label class="login__label">
                <span class="login__label-name">Электронный адрес</span>
                <input id="email"
                       class="login__input-text"
                       type="email"
                       ref="email"
                       placeholder="e-mail"
                >
            </label>
            <label class="login__label">
                <span class="login__label-name">Пароль</span>
                <input id="password"
                       class="login__input-text"
                       type="password"
                       ref="password"
                       placeholder="Пароль"
                >
            </label>
            <input class="login__input-btn" type="submit" value="Регистрация">
        </form>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "reg",
        data: () => {
            return {
                'csrf': document.head.querySelector('[name="csrf-token"]').getAttribute('value'),
            }
        },
        methods: {
            regUser() {
                const username = this.$refs.username.value;
                const name = this.$refs.name.value;
                const email = this.$refs.email.value;
                const password = this.$refs.password.value;

                const userData = {
                    username,
                    name,
                    email,
                    password
                };

                axios({
                    method: 'post',
                    url: '/api/register',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': this.csrf
                    },
                    data: userData
                }).then((res) => {
                }).catch((err) => {
                })
            }
        }
    }
</script>

<style scoped>

</style>
