<template>
    <div class="content char__extraSaves">
        <h2 class="char__extraSaves__title">Спас. броски</h2>
        <div class="char__extraSaves__wrap" id="extraStats" v-masonry
             transition-duration="0.1s" item-selector=".char__extraSaves__stat">
            <div v-masonry-tile class="char__extraSaves__stat"  column-width="288"
                 v-for="(charStat, statKey) in character.stats" :key="statKey">
                <div class="char__extraSaves__stat-initial"
                     :class="{'known': charStat.known}">
                    <div class="char__extraSaves__stat-title">{{charStat.fullName}} ({{setStats(charStat)}})</div>
                    <div class="char__extraSaves__stat-value">{{setSaveStats(charStat)}}</div>
                </div>
                <div class="char__extraSaves__item" :class="{'known': extraSave.known, 'comp': extraSave.competition}"
                     v-if="charStat.extra"
                     v-for="(extraSave, extraSaveKey) in charStat.extra"
                     :key="extraSaveKey">
                    <div class="char__extraSaves__item-dot"></div>
                    <div class="char__extraSaves__item-name">{{extraSave.name}}</div>
                    <div class="char__extraSaves__item-value">
                        {{setExtraSave(charStat, extraSave, setProfBonus(character.lvl))}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "extraStats",

        methods: {
            setStats: function (charStat) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setSaveStats: function (charStat) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setExtraSave: function (charStat, extraSave, profBonus) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (extraSave.known) {
                    statPlusValue = statPlusValue + parseInt(profBonus);
                }
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setProfBonus: function (lvl) {
                let profBonus;
                if (lvl < 5) {
                    profBonus = 2
                } else if (lvl < 9) {
                    profBonus = 3
                } else if (lvl < 13) {
                    profBonus = 4
                } else if (lvl < 17) {
                    profBonus = 5
                } else {
                    profBonus = 6
                }

                if (profBonus > 0) {
                    profBonus = '+' + profBonus
                }
                return profBonus;
            }
        },

        computed: {
            character() {
                return this.$store.getters.getChar(this.$route.params.charId)
            }
        }
    }
</script>
