<template>
    <div class="content">
        <div id="main-info" class="char__block fixed">
            <div class="char__row">
                <div class="char__class">{{character.class}} - {{character.archieType}}</div>
                <div class="char__lvl">
                    <span class="char__lvl-value">{{character.lvl}}</span> ур
                </div>
                <div class="char__exp" v-if="character.lvl < 20">
                    <span class="char__exp-value">{{character.exp}}</span>{{setExp(character.lvl)}}
                </div>
            </div>
            <div class="char__row">
                <div class="char__race">{{character.race}} ({{character.background}})</div>
                <div class="char__align">{{character.align}}</div>
            </div>
        </div>
        <div class="char__row base">
            <div class="char__hp">
                <img src="/img/icons/heart.svg" alt="">
                <div class="char__hp-now">{{character.hpNow}}</div>
                <div class="char__hp-initial">{{character.hp}}</div>
            </div>
            <div class="char__tempHp">
                <img src="/img/icons/heart-outline.svg" alt="">
                <div class="char__tempHp-value">{{character.tempHp > 0 ? character.tempHp : '0'}}</div>
            </div>
            <div class="char__pb">
                <div class="char__pb-value">{{setProfBonus(character.lvl)}}</div>
                <div class="char__pb-name">БМ</div>
            </div>
            <div class="char__armor">
                <img src="/img/icons/shield.svg" alt="">
                <div :class="[character.armorPlus > 0 ? 'char__armor-initial' : 'char__armor-value']">
                    {{character.armor}}
                </div>
                <div class="char__armor-plus" v-if="character.armorPlus > 0">{{character.armorPlus}}</div>
            </div>
            <div class="char__init">
                <div class="char__init-value">{{setBaseStats(character.stats.dex)}}</div>
                <img src="/img/icons/sword.svg" alt="">
            </div>
            <div class="char__spd">
                <div class="char__spd-value">30</div>
                <img src="/img/icons/speed.svg" alt="">
            </div>
        </div>
        <div class="char__row lines">
            <div class="char__line char__hitDice">
                <div class="char__hitDice-name">Кость хитов</div>
                <div class="char__hitDice-value">1к8{{setBaseStats(character.stats.con)}}</div>
                <div class="char__hitDice-left">{{character.lvl}}</div>
            </div>
            <div class="char__line char__pasPer">
                <div class="char__pasPer-name">пасс. Внимательность</div>
                <div class="char__pasPer-value">{{+setBaseStats(character.stats.wis) + 10}}</div>
            </div>
            <div class="char__line char__insp">
                <div class="char__insp-name">Вдохновение</div>
                <div class="char__insp-value">0</div>
            </div>
        </div>
        <div class="char__row stats">
            <div class="char__stat" v-for="(charStat,statKey) in character.stats" :key="statKey">
                <div class="char__stat-name">{{charStat.name}}</div>
                <div class="char__stat-plus">{{setBaseStats(charStat)}}</div>
                <div class="char__stat-normal">{{charStat.value}}</div>
            </div>

            <div class="char__dead-or-live">
                <div class="char__dead-or-live__row">
                    <img src="/img/icons/angel.svg" alt="">
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                </div>
                <hr>
                <div class="char__dead-or-live__row">
                    <img src="/img/icons/death.svg" alt="">
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" class="">
                        <div>
                            <div></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "mainInfo",

        methods: {
            setBaseStats: function (charStat) {
                let statPlusValue;
                statPlusValue = Math.floor((charStat.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setSaveStats: function (charSave) {
                let statPlusValue;
                statPlusValue = Math.floor((charSave.value - 10) / 2);
                if (statPlusValue > 0) {
                    statPlusValue = '+' + statPlusValue
                }
                return statPlusValue;
            },
            setProfBonus: function (lvl) {
                let profBonus;
                if (lvl < 5) {
                    profBonus = 2
                } else if (lvl < 9) {
                    profBonus = 3
                } else if (lvl < 13) {
                    profBonus = 4
                } else if (lvl < 17) {
                    profBonus = 5
                } else {
                    profBonus = 6
                }

                if (profBonus > 0) {
                    profBonus = '+' + profBonus
                }
                return profBonus;
            },
            setExp: function (lvl) {
                let totalExp;
                lvl = parseInt(lvl);
                if (lvl === 1) {
                    totalExp = 300
                } else if (lvl === 2) {
                    totalExp = 900
                } else if (lvl === 3) {
                    totalExp = 2700
                } else if (lvl === 4) {
                    totalExp = 6500
                } else if (lvl === 5) {
                    totalExp = 14000
                } else if (lvl === 6) {
                    totalExp = 23000
                } else if (lvl === 7) {
                    totalExp = 34000
                } else if (lvl === 8) {
                    totalExp = 48000
                } else if (lvl === 9) {
                    totalExp = 64000
                } else if (lvl === 10) {
                    totalExp = 85000
                } else if (lvl === 11) {
                    totalExp = 100000
                } else if (lvl === 12) {
                    totalExp = 120000
                } else if (lvl === 13) {
                    totalExp = 140000
                } else if (lvl === 14) {
                    totalExp = 165000
                } else if (lvl === 15) {
                    totalExp = 195000
                } else if (lvl === 16) {
                    totalExp = 225000
                } else if (lvl === 17) {
                    totalExp = 265000
                } else if (lvl === 18) {
                    totalExp = 305000
                } else if (lvl === 19) {
                    totalExp = 355000
                } else {
                    totalExp = ''
                }
                if (totalExp > 0) {
                    totalExp = totalExp.toLocaleString();
                    totalExp = ' / ' + totalExp
                }

                return totalExp;
            },
        },

        computed: {
            character() {
                return this.$store.getters.getChar(this.$route.params.charId);

            }
        }
    }
</script>
